h1,h3,h4,h6 {
    font-family: 'Kanit', sans-serif;
}

h5{
    font-family: 'Roboto', sans-serif;
}
h2{
font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Wix Madefor Display', sans-serif;
}

#ribbon {
background-color: #fffff;
background-image: repeating;
 
}
#ribbon::after {
  content: '';
  background-color: transparent;
  display: block;
  height: 50px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  left: auto;
  margin-top: -60px ;

}

#Futuro{
    background-color: #f2b500;
    position: relative;
    margin-top: -80px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

#Futuro img{
    position: relative;
    margin-top: -40px;
}

.text-shadow{
    text-shadow: 1px 1px 2px darkgray;
}

#separator-ribbon{

    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#separator-ribbon .content{
     background-color: #ffff25;
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 75% ;
}

#separator-pizarron .content{
    background-image: linear-gradient(rgba(5,7,12,0.50), rgba(5,7,12,0.50)), url("/itec de mexico/imagenes/pizarron.jpg"); 
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}



