*,
*::after,
*::before {
  box-sizing: border-box;
}

:root{
  --light-black: #333;
  --light-orange: #FFE7D3;
  --orange: #EC6C2B;
  --blue: #0096FA;
  --light-blue: #00B0A5;
}

body {
  margin: 0;
}

.root {
  font-family: 'Roboto';
}

.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;

  background-color: #f8f9fb;

  width: 100%;
  height: 125px;
  box-shadow: 0px 0px 5px #333;
  font-size: clamp(.8rem, 2.3vw, 1.1rem);
}

.logo {
  width: clamp(150px, 30vw, 200px);
}

.header__step{
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: -25px;

  background-color: var(--orange);
  width: clamp(100px, 30vw, 200px);
  height: 60px;

  color: white;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title{
  margin-top: 50px;
}


.student-data {
  font-size: 1.1rem;
  padding: 5px;
  width: 50%;
}

.student-name,
.student-account {
  font-weight: bold;
}

.table {
  border-collapse: collapse;

  width: 300px;
}

.table__header{
  background-color: var(--orange);
  color: white;
}

.table__body{
  background-color: var(--light-orange);
}

.table__cell {
  padding: 15px;
  text-align: center;
  font-size: 1rem;
}

.form {
  margin-top: 20px;
  padding: 10px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  height: 100px;
  width: 500px;
}

.form__div{
  display: flex;
  gap: 20px;
  align-items: center;

}

.form__input {
  color: white;

  background-color: #0096fb;
  border: 0;

  padding: 10px;
  width: 160px;
  cursor: pointer;
}

.form__select {
  padding: 10px;
}

.modal{
  border: 0;
  font-family: 'Roboto';
  border-radius: 10px;
}

.modal__header{
  display: flex;
  align-items: center;
}

.modal__logo{
  width: 100px;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.85);
}

/*modal*/
.modal__title {
  text-align: center;
}

.modal__error{
  text-align: center;
  margin: 0;
}

.modal__description{
  text-align: center;
}

.btn__modal {
  width: 100%;
  padding: 10px;
  background-color: #0096fb;
  border: 0;
  box-shadow: 0px 0px 5px #333;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
